assets/css/style.css
assets/css/style.css.map
assets/scss/style.scss
assets/scss/components/
assets/scss/colors.scss
assets/scss/abstracts/_variables.scss
assets/scss/abstracts/_functions.scss
assets/scss/SASS.txt
assets/scss/layouts/_forms.scss
assets/scss/layouts/_sidebar.scss
page2.html
assets/css/page2.css
assets/css/page2.css.map
assets/js/page2.js
assets/js/calculator.js

